body
{

}
.logo
{
	float:left;
	color:black;
	font-size:30px;
	font-weight:bolder;
	margin-top:0px;
	margin-left:-10px;
    background-image:url(corp.png);

}
@media screen and (max-width:1000px ){
	.logo {
        width: 490px;
        margin-top: 0px;
	}
}
.logo img 
{
    margin-left:10px;height:40px;width:60px;margin-top:0px;
}
@media screen and (max-width:1000px ){
	.logo img {
        margin-left: 0px;
        margin-top: -10px;
	}
}

.socials
{
	
	padding:10px;
	margin-top:-10px;
	color:white;
    float: right;
    background-color: blue;
    border-radius: 200px;
    width: 150px;
    
	

}
@media screen and (max-width:1000px ){
	.socials {
        margin-top: -65px;
	}
}
.socials .fa
{
	padding:5px;
	color:blue ;
	margin-top:0px;
    padding-left: 10px;
    background-color:white;
    border-radius: 200px;
}
@media screen and (max-width:1000px ){
	.socials .fa {
        padding-left: 10px;
        background-color: black;
	}
}
@media screen and (max-width:400px ){
	.socials .fa {
        padding-left: 5px;
	}
}
.buy-btn
{
    float: ;
    color: white;
    background-color: darkblue;
    border-radius: 200px;
    padding: 10px 40px ;
    width: 200px;
    
}
.buy-btn:hover
{
    text-decoration: none;
    color: goldenrod;
}
.header
{
	
	padding:10px;
	padding-top:0px;
	color:skyblue;
	background-image:url(corp.png);
    margin-top: 10px;
	height: 47px;
    font-size: 14px;

}
@media screen and (max-width:1000px ){
	.header {
        width: 490px;
        margin-left: 0px;
	}
}
.header a
{
	padding-left:20px;
	color: white;
	margin-top:20px;
    
    
}
.header a:hover{
    text-decoration: none;
    color:aqua;
}
.menu  {
    padding-top: 10px;
    
    margin-left: 100px;

}
@media screen and (max-width:1000px ){
	.menu {
        display: none;
	}
}


@media screen and (max-width:400px ){
	.header a {
        padding-left: 5px;
	}
}


.sidepanel 
{
    display: none;
}
@media screen and (max-width:1000px ){

.sidepanel  
            {
              width:0px;
              position:fixed;
              z-index: 1;
              height: 280px;
              top: 100px;
              margin-left: 10px;
              background-image:url(corp.png);
              overflow-x: hidden;
              transition: 0.5s;
              padding-top: 10px;
                border-radius: 10px;
                display: block;
            }
}

.sidepanel a {
  padding:5px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display:block;
  transition: 0.3s;
    margin-top: 0px;
    text-align: ;
}

.sidepanel a:hover {
  color: aqua;
}

.sidepanel .closebtn 
{
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
    margin-top: -10px;
}

.openbtn 
{
font-size: 20px;
  cursor: pointer;
  color: #FF9900;
  border: none;
    padding-top: 30px;

 }
@media screen and (max-width:1000px ){
	.openbtn{
        margin-left: 150px;
        margin-top: -20px;
        
	}
}
.openbtn:hover 
{
  background-color: transparent;
}
























#home
{
    
    color: white;
    padding: 10px;
    height: 500px;
    background-image:url(image22.png);
    background-repeat: no-repeat;
    background-size: cover;     
    
}
.home
{
    margin-left: 150px;
    margin-top: 100px;
   
}
.box
{
    display: inline-block;
    width: 400px; 
}
.home img
{
    width: 200px;
    height: 250px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: -200px;
}
 em
{
    color: grey;
}
.home p
{
    margin-left: 150px;
    margin-top: -24px;
}















#about
{
    margin-top: 20px;
    color: ;
}
.about
{
    margin-left: 100px;
    width: 800px;
}
.about-box
{
    display: inline-block;
    width: 380px;
    list-style: circle;
    padding: 20px;
}
.about-box ul li
{
    list-style: circle;
}
.content  
{
    border-style: solid;
    border-color: grey;
    border-width: thin;
    margin-top: 5px;
    padding: 5px;
}









#services
{
    margin-top: 50px;
    height: 600px;
    color: white;
    padding: 10px;
    background-image:url(image22.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
.services
{
    margin-left: 100px;
}
.services-box
{
    display: inline-block;
    width: 200px;
    border-style: solid;
    border-color: white;
    margin-top: 10px;
    height: 80px;
    
}
.services-box img
{
    height: 40px;
    width: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
.services-box h6
{
    margin-left: 50px;
    margin-top: -50px;
}
.services-box em
{
    margin-left: 50px;
}

.skills
{
    margin-top: 20px;
}
.skills-box
{
    display: inline-block;
    width: 400px;
    
    
}
.progress
{
    text-align: center;
    background-color: transparent;
}
.photoshop {
	width: 90px;
	animation: photoshop 2s;
	background-color: red;
   
}

.pycharm {
	width: 85px;
	animation: pycharm 3s;
	background-color: red;
}

.studio {
	width: 75px;
	animation: studio 4s;
	background-color: red;
}

.graphic {
	width: 85px;
	animation: graphic 5s;
	background-color: red;
}

.python {
	width: 89px;
	animation: python 6s;
	background-color: red;
}
.skillsbox
{
    margin-left: 50px;
}


.skills-box .home-box ul
{
    margin-left: 130px; 
    margin-top: -24px;
}










#portfolio
{
    margin-top: 50px;
}
.portfolio
{
    margin-top: 50px;
    margin-left: 100px;
    
}
.portfolio-box
{
    display: inline-block;
    width: 400px;
    margin-top: 20px;
    background-image:url(image22.png);
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 50px;
    border-radius: 5px;
    color: white;
    
}

 h4
{
    width: 400px;
}







.view
{
    margin-left: 100px;
    margin-top: 20px;
}
.view-box
{
    display: inline-block;
    width: 200px;
    margin-top: 20px;
    
}
.view-box img
{
    width: 160px;
    height: 140px;
    
}










#contacts
{
    margin-top: 100px;
    background-image:url(image22.png);
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
}
.contacts
{
    margin-left: 100px;
    width: 800px;

    
}
.contactbox
{
    margin-left: 520px;
    margin-top: -320px;
}
.contacts-box
{
    width: 400px;
    display: inline-block;
    margin-top: 50px;
}
.contacts img
{
    width: 400px;
    height: 260px;
}
.contact-box
{
    display: inline-block;
    width: 200px;
    border-style: solid;
    border-color: grey;
    margin-top: 10px;
    height: 80px;
    
}
.contact-box img
{
    height: 40px;
    width: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
.contact-box h6
{
    margin-left: 50px;
    margin-top: -50px;
}
.contact-box em
{
    margin-left: 50px;
}

.form-msg
{

    padding:10px;
    text-align:center;
    height:300px;
    margin-left: 250px;
    width: 500px;
    margin-top: 50px;
    font-size: 14px;
  
}
@media screen and (max-width:1000px ){
	.form-msg{
        margin-top: 50px;
        margin-left: 50px;
      
        
	}
}
form
{
    
    margin-left: -110px;
}

input
{
  	padding:10px;
   height:40px;
   width: 500px;
   display: inline-block;
    margin-top: 10px;
    
    

}
.col-75
{

  margin-top: 10px;
  margin-left:100px;
  
}
textarea
{
	width: 500px;
    height: 80px;
    padding: 10px;
    margin-left: 10px;
}
@media screen and (max-width:1000px ){
	textarea{
		width:300px;
	}
}
.form-group{
    margin-left: 100px;
}
 button
{

    
    height: 50px;
    width: 500px;
    font-size: 14px;
    background: linear-gradient(to top right,blue,lime);
    padding-left: 100px;
    padding:10px;
    border-radius:10px;
    float: left;
    color: white;
}
